.footer {
    position: relative;
    bottom: 0;
    min-height: 60px;
    background-color: var(--shadow-black);
    display: flex;
    align-items: center;
    justify-content: center;
}

.socialMediaSection {
    position: absolute;
    bottom: 0;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialMediaLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    width: 75px;
    height: 60px;
    color: var(--white);
    cursor: pointer;
    transition: color 0.4s;
}
@media (hover: hover) {
    .socialMediaLinks:hover {
        color: var(--flamingo);
    }
}
@media (hover: none) {
    .socialMediaLinks:active {
        color: var(--flamingo);
    }
}
.socialMediaIcon {
    width: 80%;
    height: 80%;
}
