.companyWrapper {
    height: calc(100%);
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: 2px solid rgb(255, 208, 0);
    box-sizing: border-box;
}
.companyContent {
    width: 500px;
    height: fit-content;
    min-height: min-content;
    margin-bottom: 30px;
    padding: 10px;
    padding-bottom: 0;
    border-radius: 3px;
    border: 2px solid var(--flamingo);
    background: var(--shadow-white);
    display: flex;
    flex-direction: column;
    /* overflow: auto; */
}
.point {
    padding: 15px;
    font-weight: 600;
    border-bottom: 2px solid var(--flamingo);
    color: var(--white);
}
