.buttonAdd {
    width: 100%;
    position: relative;
    height: 50px;
    border: 1px solid var(--flamingo);
    background: var(--shadow-black);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 4px;
    transition: background 0.4s;
}
.buttonAdd:active {
    background: var(--shadow-white);
}
.iconInButton {
    position: absolute;
    right: 1%;
    height: 30px;
    width: 40px;
    color: var(--flamingo);
}
.buttonAcceptAll {
    margin-top: 15px;
    width: 100%;
    height: 50px;
    border-radius: 6px;
    border: 1px solid var(--flamingo);
    background: var(--shadow-black);
    color: var(--white);
    font-weight: 600;
    cursor: pointer;
    transition: background 0.4s;
    backdrop-filter: blur(15px);
}
.flexButtonContainer {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
}
.buttonInFlex {
    width: 48%;
    height: 50px;
    border-radius: 6px;
    border: 1px solid var(--flamingo);
    background: var(--shadow-black);
    color: var(--white);
    font-weight: 600;
    cursor: pointer;
    transition: background 0.4s;
}
@media (hover: hover) {
    .buttonAcceptAll:hover {
        background: var(--flamingo);
    }
    .buttonInFlex:hover {
        background: var(--flamingo);
    }
}
@media (hover: none) {
    .buttonAcceptAll:active {
        background: var(--flamingo);
    }
    .buttonInFlex:hover {
        background: var(--flamingo);
    }
}
