.errorWrapper {
    width: 270px;
    height: 140px;
    border: 1px solid var(--flamingo);
    position: fixed;
    right: 0;
    top: 2%;
    z-index: 2;
    background: var(--dark);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    box-shadow: 4px 4px 12px 0px #00000091;
    padding: 10px;
    transform: translateX(100%);
    transition: transform 0.5s ease;
}

.errorWrapper.show {
    transform: translateX(-10%);
}

.errorWrapper.hide {
    transform: translateX(100%);
}
.text {
    font-size: 16px;
    font-weight: 600;
    width: 90%;
    margin-left: 15px;
    color: rgb(235, 181, 3);
}
.iconWarning {
    color: rgb(235, 181, 3);
    width: 50px;
    height: 50px;
}
