{
    "semi": true,
    "singleQuote": false,
    "jsxSingleQuote": false,
    "bracketSpacing": true,
    "trailingComma": "all",
    "printWidth": 120,
    "tabWidth": 4,
    "arrowParens": "avoid"
}
