.selectCategoryButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 60px;
    border-top: 1px solid var(--flamingo);
    backdrop-filter: blur(4px);
}
.selectCategoryButtons > :first-child {
    border-right: none;
    border-left: none;
}
.selectCategoryButtons > :last-child {
    border-right: none;
    border-left: none;
}
.categoryButton {
    flex: 1;
    min-height: 60px;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    color: var(--white);
    cursor: pointer;
    background: var(--shadow-black);
    transition: background 0.4s;
    border-right: 1px solid var(--flamingo);
    border-left: 1px solid var(--flamingo);
}
.categoryButton.active {
    border-bottom: 1px solid var(--flamingo);
    background: var(--dark);
    box-shadow: 7px 14px 22px -21px var(--flamingo);
}
@media (hover: hover) {
    .categoryButton:hover {
        background-color: var(--dark);
    }
}
@media (hover: none) {
    .categoryButton:active {
        background-color: var(--shadow-black);
    }
}
