.input {
    width: 100%;
    border-radius: 3px;
    margin-bottom: 10px;
    height: 50px;
    padding-left: 20px;
    font-weight: 600;
    font-size: 16px;
}
.input:focus {
    border: 2px solid var(--flamingo);
}
