.input {
    width: 100%;
    border-radius: 3px;
    margin-bottom: 10px;
    height: 50px;
    padding-left: 20px;
    font-weight: 600;
    font-size: 16px;
}
.input:focus {
    border: 2px solid var(--flamingo);
}
.input::placeholder {
    font-size: 14px;
}
.wrapperInput {
    width: 100%;
    height: 50px;
    background: var(--shadow-white);
    border-radius: 4px;
    display: flex;

    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}
.wrapperInput:focus-within {
    border: 2px solid var(--flamingo);
}
.inputForLink {
    width: 100%;
    height: 100%;
    padding-left: 20px;
    font-weight: 600;
    font-size: 16px;
    background: none;
    color: var(--white);
}
.iconDeleteLink {
    width: 40px;
    height: 40px;
    color: var(--flamingo);
    margin-right: 5px;
    cursor: pointer;
}
.error {
    color: var(--flamingo);
    font-size: 12px;
    margin-bottom: 5px;
}
.inputWithLabel {
    width: 100%;
    border-radius: 3px;
    margin-bottom: 10px;
    height: 50px;
    padding-left: 20px;
    font-weight: 600;
    font-size: 16px;
}
.inputinputWithLabel:focus {
    border: 2px solid var(--flamingo);
}
.inputinputWithLabel::placeholder {
    font-size: 14px;
}
