.flexContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}
.companyCard {
    width: 100%;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 3px;
    background: var(--shadow-white);
    display: flex;
    flex-direction: column;
    box-shadow: 6px 6px 28px 0px #000000de;
    border: 2px solid var(--flamingo);
}
.wrapperSection {
    margin-top: 5px;
    border: 2px solid var(--dark);
    background: var(--shadow-black);
    border-radius: 4px;
    color: var(--white);
    width: 100%;
    padding: 10px;
}
.linkVacancy {
    color: #0373f3;
}
.question {
    margin-bottom: 8px;
    font-weight: 600;
    padding: 8px;
    border-radius: 6px;
    background: var(--shadow-black);
    border: 1px solid var(--dark);
    user-select: text;
    text-align: start;
}
