.form {
    display: flex;
    width: 700px;
    justify-content: flex-start;
    margin-top: 7px;
    margin-bottom: 7px;
}
@media (max-width: 710px) {
    .form {
        width: 99%;
        justify-content: space-between;
    }
}
