.button {
    padding: 0px 24px;
    height: 40px;
    margin: 0px 4px;
    border-radius: 3px;
    display: flex;
    width: max-content;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    color: var(--white);
    cursor: pointer;
    transition: background-color 0.4s;
    background: var(--dark);
    border: 1px solid var(--flamingo);
}
@media (hover: hover) {
    .button:hover {
        background: var(--flamingo);
    }
}
@media (hover: none) {
    .button:active {
        background: var(--flamingo);
    }
}
