.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}
.navBar {
    width: 300px;
    min-width: 300px;
    height: 100%;
    background: var(--shadow-black);
    border-right: 2px solid var(--flamingo);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    backdrop-filter: blur(10px);
}
.navButton {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    background: none;
    font-size: 16px;
    font-weight: 600;
    transition: background 0.4s, color 0.4s;
    border-bottom: 1px solid var(--flamingo);
    cursor: pointer;
}
.navButton.activeNavButton {
    background: var(--shadow-black);
    color: var(--flamingo);
}
@media (hover: hover) {
    .navButton:hover {
        background-color: var(--dark);
        color: var(--flamingo);
    }
}
@media (hover: none) {
    .navButton:hover {
        background-color: var(--shadow-black);
        color: var(--flamingo);
    }
}
