.selectCategoryButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 60px;
    border-top: 1px solid var(--flamingo);
    backdrop-filter: blur(4px);
}
.categoryButton {
    width: 33.28%;
    min-height: 60px;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    color: var(--white);
    cursor: pointer;
    background: var(--shadow-black);
    transition: background 0.4s;
}
.categoryButton.active {
    border-bottom: 1px solid var(--flamingo);
    border-top: none;
    background: var(--dark);
}
@media (hover: hover) {
    .categoryButton:hover {
        background-color: var(--dark);
    }
}
@media (hover: none) {
    .categoryButton:active {
        background-color: var(--shadow-black);
    }
}
