.sectionAnswer {
    border: 2px solid var(--dark);
    background: var(--shadow-black);
    border-radius: 4px;
    color: var(--white);
    width: 100%;
    padding: 5px 10px;
    margin-top: 5px;
}
.flexContainer {
    display: flex;
    flex-direction: column;
}
.sectionLinks {
    border: 2px solid var(--dark);
    background: var(--shadow-black);
    border-radius: 4px;
    color: var(--white);
    width: 100%;
    padding: 5px 10px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.link {
    word-wrap: break-word;
    margin-left: 6px;
}
