.modalWrapper {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 3;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #0000008c;
}
.modalWrapper.active {
    display: flex;
}
.modalAuth {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 200px;
    padding: 20px 60px 20px 60px;
    border-radius: 3px;
    background: var(--shadow-black);
    border: 2px solid var(--flamingo);
}
.buttonClose {
    position: absolute;
    right: -16px;
    top: -16px;
    color: var(--flamingo);
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.message {
    margin-bottom: 15px;
    color: var(--flamingo);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    text-align: center;
}
