.wrapperNavBar {
    min-width: 350px;
    height: 100%;
    z-index: 2;
}
.navBar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    background: var(--shadow-black);
    backdrop-filter: blur(10px);
    border-right: 1px solid var(--flamingo);
    border-top: 1px solid var(--shadow-white);
}
.containerButtons {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.slideshowButton {
    width: 60px;
    height: 60px;
    cursor: pointer;
    color: var(--flamingo);
    position: fixed;
    bottom: 50%;
    left: 0;
    z-index: 1;
    padding: 10px;
}
@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}
@media (max-width: 1080px) {
    .wrapperNavBar {
        min-width: 300px;
    }
}
@media (max-width: 1030px) {
    .wrapperNavBar {
        position: fixed;
        left: 0;
        top: 0;
        min-width: 350px;
    }
}
@media (max-width: 840px) {
    .slideshowButton {
        position: fixed;
        top: 100;
        bottom: 0;
    }
}
