/* Custom  */
:root {
    --shadow-white: rgba(255, 255, 255, 0.137);
    --flamingo: #f20149;
    --shadow-flamingo: #f2014962;
    --white: #ffffff;
    --shadow-black: #00000056;
    --dark: #161616;
}

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    border: none;
    text-decoration: none;
}
button,
p,
label {
    user-select: none;
}
html,
body {
    height: 100%;
    line-height: 1;
    font-size: 100%;
    background-image: url("/bgImage.jpg");
    background-size: cover;
    background-position: center;
}
ul,
ol {
    list-style: none;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    user-select: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

blockquote,
q {
    quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
    content: "";
    content: none;
}
input:focus,
textarea:focus {
    outline: none;
    box-shadow: none;
    border: none;
}
