.mainWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow: auto;
}
.content {
    margin-top: 50px;
    width: 90%;
    display: flex;
    justify-content: flex-start;
}
.flexContainer {
    margin-top: 5px;
    margin-left: 50px;
}
.title {
    font-size: 40px;
    font-weight: 600;
    color: var(--flamingo);
}
.linkStart {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    width: 400px;
    height: 100px;
    border-radius: 60px;
    background: var(--dark);
    border: 2px solid var(--flamingo);
    backdrop-filter: blur(10px);
    font-size: 20px;
    color: var(--white);
    transition: all 0.5s;
}
@media (hover: hover) {
    .linkStart:hover {
        background: var(--shadow-dark);
        box-shadow: 0px 0px 35px -5px var(--flamingo);
    }
}
@media (hover: none) {
    .linkStart:active {
        background: var(--shadow-dark);
        box-shadow: 0px 0px 35px -5px var(--flamingo);
    }
}
@media (max-width: 1290px) {
    .content {
        width: 100%;
    }
    .title {
        font-size: 30px;
    }
}
@media (max-width: 1005px) {
    .title {
        font-size: 26px;
    }
    .flexContainer {
        margin-left: 30px;
    }
}
@media (max-width: 930px) {
    .content {
        margin-top: 0;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .flexContainer {
        display: flex;
        margin-left: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }
    .title {
        text-align: center;
    }
    .linkStart {
        margin-top: 10px;
        width: 300px;
        height: 80px;
    }
}
