.flexContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.filterQuestions {
    display: flex;
    width: 700px;
    justify-content: flex-start;
    margin-top: 7px;
    margin-bottom: 7px;
}
.inputFind {
    width: 75%;
    margin-right: 12px;
    height: 50px;
    background: var(--shadow-black);
    border: 2px solid var(--dark);
    border-radius: 5px;
    padding-left: 15px;
    color: var(--white);
}
.buttonFind {
    width: 150px;
    height: 50px;
    border: 1px solid var(--dark);
    background: var(--shadow-black);
    border-radius: 5px;
    color: var(--white);
    cursor: pointer;
}
.commonWrapper {
    height: 100%;
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: auto;
    padding: 0 15px 15px 0;
}
.wrapperQuestion {
    border: 2px solid var(--dark);
    border-radius: 4px;
    background: var(--shadow-black);
    padding: 30px;
    padding-bottom: 0px;
    overflow: auto;
    height: 600px;
    width: 100%;
    backdrop-filter: blur(10px);
    box-shadow: 8px 12px 10px -2px #000000a4;
}
.wrapperQuestion::-webkit-scrollbar {
    width: 10px;
    background: var(--shadow-white);
    border-radius: 5px;
}
.wrapperQuestion::-webkit-scrollbar-thumb {
    width: 10px;
    background: var(--shadow-black);
    border-radius: 5px;
}
.questionCard {
    width: 100%;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 3px;
    border: 2px solid var(--flamingo);
    background: var(--shadow-white);
    display: flex;
    flex-direction: column;
    box-shadow: 6px 6px 28px 0px #000000de;
}
.buttonQuestion {
    border: 2px solid var(--dark);
    background: var(--shadow-black);
    border-radius: 4px;
    color: var(--white);
    width: 100%;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: background 0.3s;
}
.questionButtonFlex {
    display: flex;
    align-items: center;
}
.favoriteIcon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: color 0.4s;
}
.favoriteIcon.active {
    color: var(--flamingo);
}
.eyeIcon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: color 0.4s;
}
.sectionAnswer {
    border: 2px solid var(--dark);
    background: var(--shadow-black);
    border-radius: 4px;
    color: var(--white);
    width: 100%;
    padding: 5px 10px;
    margin-top: 5px;
}
.point {
    padding: 10px;
    font-weight: 600;
    color: var(--white);
    user-select: text;
}
.sectionLinks {
    border: 2px solid var(--dark);
    background: var(--shadow-black);
    border-radius: 4px;
    color: var(--white);
    width: 100%;
    padding: 5px 10px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}
.hideSectionLinks {
    display: none;
}
.buttonAcceptAll {
    margin-top: 15px;
    width: 100%;
    height: 50px;
    border-radius: 6px;
    border: 1px solid var(--flamingo);
    background: var(--shadow-black);
    color: var(--white);
    font-weight: 600;
    cursor: pointer;
    transition: background 0.4s;
    backdrop-filter: blur(15px);
}
.flexButtonContainer {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
}
.buttonInFlex {
    width: 48%;
    height: 50px;
    border-radius: 6px;
    border: 1px solid var(--flamingo);
    background: var(--shadow-black);
    color: var(--white);
    font-weight: 600;
    cursor: pointer;
    transition: background 0.4s;
}
@media (hover: hover) {
    .buttonAcceptAll:hover {
        background: var(--flamingo);
    }
    .buttonInFlex:hover {
        background: var(--flamingo);
    }
    .favoriteIcon:hover {
        color: var(--flamingo);
    }
    .eyeIcon:hover {
        color: var(--flamingo);
    }
    .buttonQuestion:hover {
        background: var(--dark);
    }
    .buttonQuestion:hover .eyeIcon {
        color: var(--flamingo);
    }
}
@media (hover: none) {
    .buttonAcceptAll:active {
        background: var(--flamingo);
    }
    .buttonInFlex:hover {
        background: var(--flamingo);
    }
    .favoriteIcon:hover {
        color: var(--flamingo);
    }
    .eyeIcon:hover {
        color: var(--flamingo);
    }
    .buttonQuestion:active {
        background: var(--dark);
    }
    .buttonQuestion:hover .eyeIcon {
        color: var(--flamingo);
    }
}
