.button {
    padding: 8px 24px 8px 24px;
    margin: 0px 4px;
    border-radius: 3px;
    display: flex;
    width: max-content;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    color: var(--white);
    border: 2px solid var(--flamingo);
    background: var(--shadow-white);
    cursor: pointer;
    transition: background-color 0.4s;
}
.buttonHide {
    height: 60px;
    background-color: var(--shadow-black);
    color: var(--white);
    font-weight: 600;
    cursor: pointer;
    border-top: 2px solid var(--flamingo);
    transition: background-color 0.4s;
}
.buttonAdd {
    width: 100%;
    position: relative;
    height: 50px;
    border: 1px solid var(--flamingo);
    background: var(--shadow-black);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 4px;
    transition: background 0.4s;
}
.buttonAdd:active {
    background: var(--shadow-white);
}
.iconInButton {
    position: absolute;
    right: 1%;
    height: 30px;
    width: 40px;
    color: var(--flamingo);
}
@media (hover: hover) {
    .button:hover {
        background: var(--flamingo);
    }
    .buttonHide:hover {
        background: var(--flamingo);
    }
}
@media (hover: none) {
    .button:active {
        background: var(--flamingo);
    }
    .buttonHide:active {
        background: var(--flamingo);
    }
}
