.button {
    padding: 8px 24px 8px 24px;
    margin: 0px 4px;
    border-radius: 3px;
    display: flex;
    width: max-content;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    color: var(--white);
    border: 3px solid var(--blue-light);
    background: var(--blue-lightest);
    cursor: pointer;
    transition: background-color 0.4s;
}
.buttonHide {
    height: 60px;
    background-color: var(--blue-lightest);
    color: var(--white);
    font-weight: 600;
    cursor: pointer;
    border-top: 2px solid var(--blue-light);
    transition: background-color 0.4s;
}
@media (hover: hover) {
    .button:hover {
        background: var(--blue-light);
    }
    .buttonHide:hover {
        background: var(--blue-light);
    }
}
@media (hover: none) {
    .button:active {
        background: var(--blue-light);
    }
    .buttonHide:active {
        background: var(--blue-light);
    }
}
