.button {
    padding: 8px 24px 8px 24px;
    margin: 0px 4px;
    border-radius: 3px;
    display: flex;
    width: max-content;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    color: var(--white);
    border: 3px solid var(--blue-light);
    background: var(--blue-lightest);
    cursor: pointer;
    transition: background-color 0.4s;
}
.button:hover {
    background: var(--blue-light);
}
