.header {
    height: 60px;
    background-color: var(--shadow-black);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    backdrop-filter: blur(4px);
}

.wrapperHeaderContent {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.iconHomePage {
    width: 40px;
    height: 30px;
    color: var(--white);
    cursor: pointer;
    background: none;
    transition: color 0.4s;
}
.link {
    padding: 0px 24px;
    height: 40px;
    margin: 0px 4px;
    border-radius: 3px;
    display: flex;
    width: max-content;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    color: var(--white);
    border: 1px solid var(--flamingo);
    background: var(--shadow-white);
    cursor: pointer;
    backdrop-filter: blur(10px);
    transition: background-color 0.4s;
}
@media (hover: hover) {
    .iconHomePage:hover {
        color: var(--flamingo);
    }
    .link:hover {
        background: var(--flamingo);
    }
}
@media (hover: none) {
    .iconHomePage:active {
        color: var(--flamingo);
    }
    .link:hover {
        background: var(--flamingo);
    }
}
.wrapperButtonsLogin {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 33%;
}
.menuMobileButton {
    display: none;
}

.menuMobileButtonIcon {
    width: 50px;
    height: 50px;
    color: var(--shadow-white);
    background-color: var(--shadow-black);
}

.content {
    flex: 1 0 auto;
}
