.textForSection {
    font-weight: 600;
    color: var(--white);
    margin-bottom: 6px;
}
.wrapperSelectField {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 8px;
}
/* Кастомный radioCheckbox */
.customCheckbox {
    margin: 5px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 200px;
}
.customCheckbox input[type="radio"] {
    display: none;
}
.customCheckbox .checkmark {
    width: 90%;
    height: 40px;
    border-radius: 4px;
    background-color: var(--dark);
    border: 2px solid var(--flamingo);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-weight: 600;
    color: var(--white);
    transition: background 0.3s;
}

.customCheckbox input[type="radio"]:checked + .checkmark {
    background-color: var(--flamingo);
}

.customCheckbox .checkmark::after {
    content: "";
    position: absolute;
    display: none;
}
.customCheckbox input[type="radio"]:checked + .checkmark::after {
    display: block;
}
.line {
    display: block;
    width: 100%;
    border: 1px solid var(--shadow-white);
    margin-bottom: 15px;
}

@media (hover: hover) {
    .customCheckbox .checkmark:hover {
        background: var(--shadow-black);
    }
}
@media (hover: none) {
    .customCheckbox .checkmark:active {
        background: var(--shadow-black);
    }
}
