.questionCard {
    width: 100%;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 3px;
    border: 2px solid var(--flamingo);
    background: var(--shadow-white);
    display: flex;
    flex-direction: column;
    box-shadow: 6px 6px 28px 0px #000000de;
}
