/* Existing styles */
.wrapper {
    height: 100%;
    width: 100%;
    height: 100%;
}
.selectCategoryButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 60px;
    border-top: 1px solid var(--flamingo);
    backdrop-filter: blur(4px);
}

.categoryButton {
    width: 33.28%;
    height: 100%;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    color: var(--white);
    cursor: pointer;
    background: var(--shadow-black);
    transition: background 0.4s;
}
.categoryButton.active {
    border-bottom: 1px solid var(--flamingo);
    border-top: none;
    background: var(--dark);
}
.questionsContainer {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: flex-start;
    flex-direction: row-reverse;
}
.wrapperNavBar {
    width: 350px;
    height: 100%;
    z-index: 3;
}
.navBar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    background: var(--shadow-black);
    backdrop-filter: blur(10px);
    border-right: 1px solid var(--flamingo);
    border-top: 1px solid var(--shadow-white);
}
.containerButtons {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.interviewButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    background: none;
    font-weight: 600px;
    font-size: 16px;
    border-bottom: 1px solid var(--shadow-white);
    color: var(--white);
    font-weight: 600;
    transition: background-color 0.4s, color 0.4s;
    cursor: pointer;
}
.interviewButton.active {
    background-color: var(--shadow-black);
    color: var(--flamingo);
}
.wrapperNavBar.hidden {
    transform: translateX(-100%);
    animation: none;
}
.slideshowButton {
    width: 60px;
    height: 60px;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--flamingo);
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 1;
    display: flex;
    font-weight: 24px;
    align-items: center;
    padding-left: 10px;
    z-index: 0;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@media (hover: hover) {
    .interviewButton:hover {
        background-color: var(--shadow-black);
        color: var(--flamingo);
    }
    .categoryButton:hover {
        background-color: var(--dark);
    }
}
@media (hover: none) {
    .interviewButton:active {
        background-color: var(--shadow-black);
        color: var(--flamingo);
    }
    .categoryButton:active {
        background-color: var(--shadow-black);
    }
}
