/* Existing styles */
.wrapper {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
}

.wrapperNavBar {
    width: 350px;
    height: 100%;
}

.navBar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    background: var(--dark);
    border-right: 3px solid var(--flamingo);
}

.containerButtons {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.interviewButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    background: none;
    font-weight: 600px;
    font-size: 16px;
    border-bottom: 2px solid var(--flamingo);
    color: var(--white);
    font-weight: 600;
    transition: background-color 0.4s, color 0.4s;
    cursor: pointer;
}

.interviewButton.active {
    background-color: var(--shadow-black);
    color: var(--flamingo);
}

.wrapperNavBar.hidden {
    transform: translateX(-100%);
    animation: none;
}

.slideshowButton {
    width: 60px;
    height: 60px;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--flamingo);
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 1;
    display: flex;
    font-weight: 24px;
    align-items: center;
    padding-left: 10px;
}

.searchBar {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.selectCategoryButton {
    display: flex;
    height: 60px;
    width: 100%;
    background: var(--dark);
}

.categoryButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.33%;
    height: 100%;
    border: 2px solid var(--flamingo);
    color: var(--white);
    font-weight: 600;
    transition: background-color 0.4s, color 0.4s;
    cursor: pointer;
    background: none;
}

.active {
    background-color: var(--shadow-black);
    color: var(--flamingo);
}

.searchForm {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.inputFindQuestion {
    width: 600px;
    height: 100%;
    border-radius: 3px;
    color: var(--white);
    background-color: var(--shadow-white);
    padding: 10px;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@media (hover: hover) {
    .interviewButton:hover {
        background-color: var(--shadow-black);
        color: var(--flamingo);
    }
    .categoryButton:hover {
        background-color: var(--shadow-black);
        color: var(--flamingo);
    }
}
@media (hover: none) {
    .interviewButton:active {
        background-color: var(--shadow-black);
        color: var(--flamingo);
    }
    .categoryButton:active {
        background-color: var(--shadow-black);
        color: var(--flamingo);
    }
}
