.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
}
.wrapperButtons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid var(--flamingo);
}
.wrapperButtons.hidden {
    display: none;
}
.flexButton {
    width: 33.3%;
    height: 60px;
    background-color: var(--shadow-white);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    cursor: pointer;
    color: var(--white);
    padding: 10px;
}
.flexButton.active {
    border: 2px solid var(--flamingo);
    border-top: 0;
    background: var(--shadow-black);
}
.iconToggleHide {
    width: 100%;
    height: 50px;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--flamingo);
    background-color: var(--shadow-white);
    border-bottom: 1px solid var(--flamingo);
    padding: 10px;
}
@media (hover: hover) {
    .flexButton:hover {
        background-color: var(--shadow-black);
    }
    .iconToggleHide:hover {
        background-color: var(--shadow-black);
    }
}
@media (hover: none) {
    .flexButton:active {
        background-color: var(--shadow-black);
    }
    .iconToggleHide:hover {
        background-color: var(--shadow-black);
    }
}
@media (max-width: 915px) {
    .wrapperButtons {
        flex-direction: column;
    }
    .iconToggleHide {
        display: flex;
    }
    .flexButton {
        width: 100%;
        height: 50px;
        border-top: 1px solid var(--flamingo);
        border-bottom: 1px solid var(--flamingo);
    }
    .flexButton.active {
        border: 0;
    }
}
